.change-username-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 320px;
    background-color: #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .change-username {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .change-username label {
    margin-right: 5px;
  }
  .change-username input {
    margin-right: 10px;
    text-align: center;
  }
  .change-username button {
    margin-top: 4px;
  }

  .chat-container {
    position: fixed;
    top: 160px;
    right: 20px;
    bottom: 20px;
    width: 320px;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .chatBox {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding:20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    margin-bottom: 40px;
    max-height: calc(100% - 50px);
  }
  .chat-messages {
    position: fixed;
    padding: 8px;
    background-color: #c9c9c9;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 10px;
  }
  .chat-message-text {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
  }
  .chat-message-timestamp {
    font-size: 10px;
    color: #6c757d;
    padding-left: 6px;
  }
  .chat-input {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }

  .lobby-main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

.lobby-list {
    /* width: 100%; */
    width: 900px;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.lobby-list-header {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    padding-bottom: 1rem;
    z-index: 1;
}

.lobby-controls-header {
    position: sticky;
    bottom: 0;
    background-color: #f1f1f1;
    padding: 1rem 0;
    z-index: 1;
}

.lobbyList {
    width: 100%;
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
}

.lobby-table-container {
    height: 100%;
}

.lobby-table-container .table {
    margin-bottom: 0;
}

.lobby-password-container {
    width: 250px;
    padding-left:  20px;
}

.lobby-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.spec-wide {
    width: 160px;
}

.join-wide {
    width: 100px;
}

  .lobby-creation-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 260px;
    background-color: #f1f1f1;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .lobby-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lobby-creation h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .lobby-creation .form-group {
    width: 100%;
    margin-bottom: 8px;
  }
  .lobby-creation .form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
  }
  .lobby-creation .form-group input,
  .lobby-creation .form-group select {
    font-size: 14px;
    padding: 6px 8px;
  }
  .lobby-creation .form-group .input-group button {
    font-size: 14px;
    padding: 6px 10px;
  }
  .lobby-creation button {
    font-size: 14px;
    padding: 6px 12px;
    width: 100%;
  }
  .lobby-creation
    .form-group
    .input-group
    .input-group-append
    .input-group-text {
    font-size: 14px;
    padding: 6px 8px;
  }
  #lobby-password:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
  }

  .lobby-settings-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 260px;
    background-color: #f1f1f1;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
}

.lobby-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobby-settings h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.lobby-settings .form-group {
    width: 100%;
    margin-bottom: 8px;
}

.lobby-settings .form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
}

.lobby-settings .form-group input,
.lobby-settings .form-group select {
    font-size: 14px;
    padding: 6px 8px;
}

.lobby-settings button {
    font-size: 14px;
    padding: 6px 12px;
    width: 100%;
}

.lobby-settings .btn-kick {
    width: 50px;
    font-size: 14px;
}

#lobby-name-display,
#lobby-id-display {
    background-color: #f5f5f5;
    cursor: not-allowed;
}
  .settings-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
  }
  .stats-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 999;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

  .settings-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .settings-buttons button {
    margin-left: 10px;
  }

  .extra-buttons-container {
    position: fixed;
    text-align: center;
    top: 395px;
    left: 20px;
    width: 260px;
    background-color: #f1f1f1;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .recent-leaderboard-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    font-size: 14px;
    position: fixed;
    text-align: center;
    top: 475px;
    left: 20px;
    width: 260px;
    background-color: #f1f1f1;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    bottom: 20px;
    overflow-y: auto;
  }

  .recent-leaderboard-container h3 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .recent-leaderboard-container .table {
    margin-bottom: 0;
  }
  .recent-leaderboard-container td {
    padding: 8px;
  }

  .playerList {
    width: 100%;
    max-width: 900px;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;
    margin: 0 auto;
}

.player-list-header {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    padding-bottom: 1rem;
    z-index: 1;
    width: 100%;
    max-width: 900px;
}
.player-list-header .row {
  justify-content: space-between;
}

.playerListHorizontal {
    width: 100%;
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
}

.player-table-container {
    height: 100%;
}

.player-table-container .table {
    margin-bottom: 0;
}

.color-and-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-top: 1rem;
}

.color-square-container {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  column-gap: 2rem;
}
.color-squares-container {
  display: flex;
  align-items: center;
} /*This one ensures that the colour squares are always aligned cause I want them aligned otherwise I'd go insane not seeing them aligned but it might cause the colour labels to be shifted which might cause me to go insane seeing that too*/

.color-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.color-selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-right: 10px;
}

.color-selection-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.color-selection-title {
  margin-right: 1rem;
  font-weight: bold;
}
.change-color-button {
  margin-left: 1rem;
}

.color-selection-box {
  background-color: #868686;
  padding: 0.5rem;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.25rem;
}

.color-square-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-square2 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 0 0.125rem;
}

.color-square.selected {
  border: 2px solid #000;
}

.changeColorButton {
  padding-left: 10px;
}

.lobby-controls-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 900px;
  margin-top: 1rem;
  padding-right: 20px;
}

.lobby-controls-container button {
  margin-left: 2rem;
}